@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');


#navbar {
    position: fixed;
    top:0;
    left:0;
    right:0;

}

#welcome-section {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url("https://images.unsplash.com/photo-1576858999278-d8d6c773cb97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    max-width: 25rem;
    height: 25rem;
}

@media (max-width: 992px) {
    .card {
        max-width: 100%;
        height: 35rem;
    }

}