@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

:root {
    --primary-light: #66FCF1;
    --primary-dark: #45A29E;
    --color-text: #c5c6c7;
    --secondary-light: #1f2833;
    --secondary-dark: #0b0c10;

    --font-family: Poppins, sans-serif;
}

* {
    font-family: var(--font-family);
    font-weight: 400;
}

#main {
    background-color: var(--secondary-dark);
    color: var(--color-text);
    max-height: 100%;
    max-width: 100vw;   
}

#navbar {
    position: fixed;
    top:0;
    left:0;
    right:0;

    background-color: var(--secondary-dark);
}

#navbar a {
    color: var(--color-text);
}

#navbar .navbar-toggler {
    color: var(--primary-light);
}

#navbar span.navbar-toggler-icon {
    color: var(--color-text);
}

#navbar a:hover {
    color: var(--primary-light);
}

#welcome-section {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background: url("https://images.unsplash.com/photo-1576858999278-d8d6c773cb97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80"); */
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%2366fcf1' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-size: 200%;
    color: var(--color-text);
}

#welcome-section h1 {
    color: var(--primary-light);
    font-weight: 700;
    letter-spacing: 0.5rem;

    margin-bottom: 1rem;
}

#welcome-section h2 {
    font-weight: 400;
    margin-bottom: 0;
}

#welcome-section p {
    font-weight: 400;
}

#projects .card {
    max-width: 25rem;
    height: auto;
}

#projects .card-body {
    background-color: var(--secondary-light);
}

#projects h3 {
    font-weight: 400;
    height: 20%;
    color: var(--primary-light);
}

#projects h4 {
    font-weight: 400;
    color: var(--primary-dark);
    height: 20%;
}

#projects .badge {
    background-color: var(--secondary-dark);
    color: var(--color-text);
}

#projects a {
    color: var(--secondary-dark);
    background-color: var(--primary-light);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#contact {
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#contact h5 {
    color: var(--primary-light);
    font-weight: 400;
}

#contactOptions {
    margin-top: 3rem;
    font-size: 2rem;
    
} 

#contact i {
    color: var(--color-text);
    text-decoration: none;
    transition: scale 0.2s ease-in;
}

#contact i:hover {
    color: var(--primary-light);
    transform: scale(1.1);
}

#pattern {
    max-width: 100vw;
    height: 35vh;
    background: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%2366fcf1' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-size: 200%;
}




@media (max-width: 992px) {
    #projects .card {
        max-width: 100%;
        height: auto;
    }

}